html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url("assets/corn.jpg");
  color: #fff;
  font-size: 16pt;
  line-height: 1.5;
}

section {
  border: 5px groove #aa0;
  width: 72ch;
  background: #110;
  color: #fff;
  margin: 2rem auto;
  padding: 1rem;
}

a {
  color: #ff0;
  text-decoration: none;
}

h2,
h3,
h4,
h5,
h6 {
  color: #cc4;
}

pre {
  overflow-x: scroll;
}
